@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Outfit;
}
#root {
  min-height: 100vh;
  display: flex;
}

.scrollhide::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
